:root {
    --primary-color: #D5051F;
    --second-color: #BE3144;
    --third-color: #E17564;
    --backgroud-color-first: #09122C
}



html,
body {
    box-sizing: border-box;

    margin: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbarContainer {
    box-shadow: 0px 0px 5px 0px rgba(39, 47, 75, .2) !important;

    min-height: 100px;
    display: flex;
    justify-content: center;


}

.contentContainer {
    margin-top: 2px;
}

h2 {
    font-size: 50px;
    color: var(--primary-color);
    margin: 0;
    padding: 50px;
    text-align: center;

}

h3 {
    font-size: 26px;
    color: var(--second-color);
}

.navArea {
    flex: 1;

}

.navAreaOne {

    display: flex;
    text-align: center;
    justify-content: center;

}

.navAreaOne a {
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    margin: 30px 20px 10px 20px;
    padding: 5px;


}

.navAreaOne a span {
    font-weight: 800;
    color: var(--primary-color);
}



.navAreaTwo {

    display: flex;
    text-align: center;
    justify-content: center;
}

.navAreaThree {
    text-align: right;
    display: flex;
    justify-content: right;
}


.navBtn {
    text-decoration: none;
    color: var(--second-color);
    margin: 30px 20px 10px 20px;
    padding: 5px;
    font-size: 20px;

}



.login {
    margin: 30px;
    padding: 10px 30px;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
}

.text-left {
    display: flex;
}

.section1 {

    padding: 20px 100px;
    background-color: var(--backgroud-color-first);
    background: linear-gradient(var(--backgroud-color-first), rgb(44, 44, 44));

    text-align: center;
}

.homesection {
    display: flex;
    min-height: 400px;
    background: white;
    text-align: left;
    padding: 0px 0px 0 100px !important;
}

.homeText {

    font-size: 50px !important;
    line-height: 50px !important;
    font-weight: 800;
    letter-spacing: -0.03em;

    color: var(--primary-color);

    padding: 40px 0;
    margin: 30px 30px;

}

.description {
    line-height: 1.7;
    font-size: 25px;
    font-weight: 300;
}

.left-section-home {
    display: block;
    flex: 1;
    padding: 80px 0;
}

.fa-solid,
.fas {
    color: var(--primary-color)
}

.info {
    line-height: 1.6;
    padding: 10px;
    padding: 5px 10px;
}

.download {
    line-height: 1.6;
    /*background: linear-gradient(to bottom, var(--backgroud-color-first), rgb(44 44 44 / 93%));*/
    color: black;
    padding: 20px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 5px #a1a4a5;
}

.rn-btn {
    background: red;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin: 25px 40px 25px 0;
    color: white;
    text-decoration: none;
    flex: 1;
}

.homesection p {
    flex: 1;
    padding: 80px 150px;
    margin: 0px 0px 0 30px;
    background: linear-gradient(var(--backgroud-color-first), rgb(44, 44, 44));
    color: white;
    text-align: left !important;
    justify-content: left;
    background-image: linear-gradient(to bottom, var(--backgroud-color-first), rgb(44 44 44 / 78%)), url(../images/webdev.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.projekte {
    display: flex;
}

.oneprojekt {
    flex: 1;

    padding: 40px 10px;
}

.oneprojekt img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.oneprojekt p {
    text-decoration: none;
    color: var(--second-color);
    text-align: center;

}


.navBtn:hover {
    color: var(--third-color);
    font-size: 24px;
}

.section2 {
    background-image: url("https://senda1988.github.io/aufgabe14_02_2025/images/background.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    background-size: cover;
}

.footerContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    background: linear-gradient(var(--backgroud-color-first), rgb(44, 44, 44));
    /* min-height: 100px; */
    padding: 50px;
}